admin-csr.json            
admin.kubeconfig
ca-config.json             
ca-csr.json                               
ca.csr                                        
/encryption-config.yaml
kube-controller-manager-csr.json
kube-controller-manager.kubeconfig
kube-scheduler-csr.json
kube-scheduler.kubeconfig
kube-proxy-csr.json           
kube-proxy.kubeconfig      
kubernetes-csr.json             
worker-0-csr.json          
worker-0.kubeconfig
worker-1-csr.json
worker-1.kubeconfig
worker-2-csr.json
worker-2.kubeconfig
service-account-csr.json
*.swp
.idea/
downloads/
*.key
*.csr
*.crt
*.pem
*.kubeconfig
my-ca.conf
machines.txt
kubelet-config.yaml
10-bridge.conf
